@model stackoverflow.Models.QuestionModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>QuestionModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
    </dl>
    <!-- List of answers goes here -->
    @foreach(var answer in Model.Answers)
    {
        <p>@answer.Body - </p>
    }
    <form asp-controller="Answer" asp-action="Create" asp-route-id=@Model.QuestionID method=POST>
        <textarea name="answer"></textarea>
        <button type="submit">Submit</button>
    </form>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuestionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
