@model stackoverflow.Models.AnswerModel

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>AnswerModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VoteCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VoteCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.QuestionModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionModel.QuestionID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AnswerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
